RewriteEngine On

# Detectar si es un archivo real dentro de /public
RewriteCond %{REQUEST_URI} /public/ [NC]
RewriteRule .* - [L]

# Ignorar archivos/carpetas existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo lo demás a index.php
RewriteRule ^ index.php [QSA,L]
